In [3]:
import pandas as pd

data = '/Users/nickburkhalter/Desktop/Lambda School/Unit 2/mortality_dash_template/cleaned_df.csv'
df = pd.read_csv(data)

df.head()

,Unnamed: 0,resident_status,month_of_death,sex,detail_age,place_of_death_and_decedents_status,marital_status,injury_at_work,manner_of_death,method_of_disposition,...,education_level,heart_disease,cancer,hiv,suicide,homicide,accident,alzheimers,respiratory,diabetes
0,0,RESIDENTS,October,Female,75.0,Other,Widowed,Unknown,Natural,Burial,...,high school,0,0,0,0,0,0,0,1,0
1,1,RESIDENTS,April,Male,63.0,"Hospital, Clinic or Medical Center",Married,Unknown,Natural,Cremation,...,college,1,0,0,0,0,0,0,0,0
2,2,INTRASTATE NONRESIDENTS,January,Female,87.0,Nursing home/long term care,Married,Unknown,Not specified,Cremation,...,college,0,0,0,0,0,0,0,0,0
3,3,INTRASTATE NONRESIDENTS,March,Male,78.0,"Hospital, clinic or Medical Center",Married,Unknown,Natural,Cremation,...,college,0,1,0,0,0,0,0,0,0
4,4,RESIDENTS,March,Female,85.0,Decedent’s home,Widowed,Unknown,Not specified,Cremation,...,high school,0,0,0,0,0,0,0,0,0

In [4]:
df = df.drop(columns='Unnamed: 0')
df.head()

,resident_status,month_of_death,sex,detail_age,place_of_death_and_decedents_status,marital_status,injury_at_work,manner_of_death,method_of_disposition,autopsy,...,education_level,heart_disease,cancer,hiv,suicide,homicide,accident,alzheimers,respiratory,diabetes
0,RESIDENTS,October,Female,75.0,Other,Widowed,Unknown,Natural,Burial,No,...,high school,0,0,0,0,0,0,0,1,0
1,RESIDENTS,April,Male,63.0,"Hospital, Clinic or Medical Center",Married,Unknown,Natural,Cremation,Yes,...,college,1,0,0,0,0,0,0,0,0
2,INTRASTATE NONRESIDENTS,January,Female,87.0,Nursing home/long term care,Married,Unknown,Not specified,Cremation,No,...,college,0,0,0,0,0,0,0,0,0
3,INTRASTATE NONRESIDENTS,March,Male,78.0,"Hospital, clinic or Medical Center",Married,Unknown,Natural,Cremation,No,...,college,0,1,0,0,0,0,0,0,0
4,RESIDENTS,March,Female,85.0,Decedent’s home,Widowed,Unknown,Not specified,Cremation,No,...,high school,0,0,0,0,0,0,0,0,0

In [5]:
df.memory_usage(index=True).sum()

128800128

In [6]:
df = df.sample(n=400000, random_state=42)
print(df.shape)
print(df.memory_usage(index=True).sum())
df.head()

(400000, 23)
76800000

,resident_status,month_of_death,sex,detail_age,place_of_death_and_decedents_status,marital_status,injury_at_work,manner_of_death,method_of_disposition,autopsy,...,education_level,heart_disease,cancer,hiv,suicide,homicide,accident,alzheimers,respiratory,diabetes
637949,RESIDENTS,September,Male,59.0,Other,Married,No,Accident,Burial,Yes,...,8th grade or less,0,0,0,0,0,1,0,0,0
656465,RESIDENTS,November,Male,63.0,"Hospital, clinic or Medical Center","Never married, single",Unknown,Natural,Cremation,No,...,college,0,0,0,0,0,0,0,0,0
337739,RESIDENTS,March,Male,94.0,Decedent’s home,Widowed,Unknown,Natural,Cremation,No,...,high school,0,1,0,0,0,0,0,0,0
230222,RESIDENTS,January,Male,53.0,Decedent’s home,"Never married, single",Unknown,Natural,Other,No,...,college,0,0,0,0,0,0,0,0,0
82039,RESIDENTS,December,Male,87.0,Decedent’s home,Widowed,Unknown,Natural,Cremation,No,...,high school,1,0,0,0,0,0,0,0,0

In [7]:
df = df.sample(n=100000, random_state=42)
print(df.shape)
print(df.memory_usage(index=True).sum())
df.head()

(100000, 23)
19200000

,resident_status,month_of_death,sex,detail_age,place_of_death_and_decedents_status,marital_status,injury_at_work,manner_of_death,method_of_disposition,autopsy,...,education_level,heart_disease,cancer,hiv,suicide,homicide,accident,alzheimers,respiratory,diabetes
400347,RESIDENTS,May,Male,88.0,"Hospital, clinic or Medical Center",Married,Unknown,Natural,Burial,No,...,high school,0,0,0,0,0,0,1,0,0
178782,RESIDENTS,December,Male,62.0,"Hospital, clinic or Medical Center",Married,Unknown,Natural,Burial,No,...,high school,0,1,0,0,0,0,0,0,0
114293,RESIDENTS,June,Female,63.0,"Hospital, clinic or Medical Center",Married,Unknown,Natural,Burial,No,...,8th grade or less,0,0,0,0,0,0,0,0,0
427711,RESIDENTS,October,Female,59.0,Other,Divorced,No,Accident,Burial,Yes,...,high school,0,0,0,0,0,1,0,0,0
589777,INTRASTATE NONRESIDENTS,August,Female,50.0,Other,Divorced,No,Natural,Cremation,No,...,college,0,1,0,0,0,0,0,0,0

In [8]:
df.to_csv('cleaned_df.csv', index=False)

In [9]:
new = pd.read_csv(data)
print(new.shape)

(100000, 23)